{stash:embed name="wrappers:interior"}
{exp:stash:set name='body_id'}{segment_1}{/exp:stash:set}

{exp:channel:entries limit="1"}
	{exp:stash:set name='title'}{title}{/exp:stash:set}
	{exp:stash:set name='maincontent'}
		<div class="categoryBar">
		    <h4 class="category">{!-- cat --}</h4>
		</div>
		<div id="content" class="col685 gutter">
		    {!-- addon details/compatibility --}
		    <div class="addonContent">
	          {!-- actual addon content --}
		    </div>
		    <div id="reviews" class="col685 commentBlock">
	          {!-- reviews --}
		    </div>
		</div>
		<div id="sidebar" class="col265">
		    {!-- addon related stuff --}
		</div>
	{/exp:stash:set}
{/exp:channel:entries}