@font-face {
    font-family: 'globale_bold_ttregular';
    src: url('../fonts/globaleboldtt-webfont.eot');
    src: url('../fonts/globaleboldtt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/globaleboldtt-webfont.woff') format('woff'),
         url('../fonts/globaleboldtt-webfont.ttf') format('truetype'),
         url('../fonts/globaleboldtt-webfont.svg#globale_bold_ttregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'globale_ttregular';
    src: url('../fonts/globalett-webfont.eot');
    src: url('../fonts/globalett-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/globalett-webfont.woff') format('woff'),
         url('../fonts/globalett-webfont.ttf') format('truetype'),
         url('../fonts/globalett-webfont.svg#globale_ttregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuebold';
    src: url('../fonts/helveticaneue-bold-webfont.eot');
    src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-bold-webfont.svg#helvetica_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueroman';
    src: url('../fonts/helveticaneue-roman-webfont.eot');
    src: url('../fonts/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-roman-webfont.svg#helvetica_neueroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuelight';
    src: url('../fonts/helveticaneue-light-webfont.eot');
    src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-light-webfont.svg#helvetica_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'helvetnc';
  src: url("../fonts/helvetnc-webfont.eot");
  src: url("../fonts/helvetnc-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetnc-webfont.woff") format("woff"), url("../fonts/helvetnc-webfont.ttf") format("truetype"), url("../fonts/helvetnc-webfont.svg#HelveticaNeueCondensed") format("svg");
  font-weight: normal;
  font-style: normal; }